.container
    width: 940px
    padding: 10px 10px 30px
    margin: 0 auto

.s-content__filtres
    display: flex
    width: 100%
    background-color: #f5f5f5
    flex-direction: column

.s-content__filtres_keyword
    position: relative
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-between
    margin-bottom: 10px
    &:after
        content: ''
        position: absolute
        bottom: -10px   
        height: 1px
        width: 100%
        background-color: #d2d2d2

.s-content__filtres_keyword-msg
    margin: 0
    line-height: 44px

.s-content__filtres_keyword-input
    padding: 5px 32px 5px 16px
    height: 32px
    width: 50%
    background-color: #e9e9ea
    border: 1px solid #dadada
    background-image: url("../img/general/search.png")   
    background-repeat: no-repeat
    background-position: 98%
    background-size: 24px
    &:focus
        background-color: #f9f9f9
        outline: none

.s-content__filtres_categories
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-between
    margin-top: 20px

.s-content__filtres_categories-container
    display: flex
    flex-direction: row
    justify-content: space-between

.s-content__filtres_categories-dropdown-container
    width: calc(100% - 120px)
    display: flex
    flex-direction: row
    justify-content: space-between

.s-content__filtres_categories-dropdown
    position: relative
    height: 44px
    width: 30%
    margin: 0 0 0 10px
    cursor: default
    background-color: #e9e9ea
    &.dropdown_opened
        background-color: #f9f9f9
        .dropdown__title
            border: 1px solid #999999
            border-bottom: none
    &:after
        content: ''
        position: absolute
        right: 15px
        top: calc(50% - 4px)
        border-top: 8px solid #1b3e6f
        border-right: 5px solid transparent
        border-left: 5px solid transparent
    

.dropdown__title
    position: relative
    line-height: 33px
    padding: 5px 16px
    border: 1px solid #dadada
    z-index: 1

.dropdown__list
    position: absolute
    right: 0
    left: 0
    top: 100%
    background: #f9f9f9
    list-style: none
    padding: 5px 16px
    margin: 0
    border: 1px solid #999999
    border-top: 1px solid #dddddd
    z-index: 2

.dropdown__item
    height: 30px
    line-height: 30px
    &:hover
        color: #90bbdc
    
.s-content__articles
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-wrap: wrap

.s-content__articles_section
    max-width: 960px
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    margin: 0 auto

.s-content__articles_section-title
    width: 100%
    text-align: center
    text-transform: uppercase
    color: #183c6e

.s-content__articles_article
    width: 300px
    min-height: 400px
    margin: 10px
    background-color: #e9e9ea

.article__preview-container
    width: 100%
    height: 40%
    text-align: center

.article__preview-container_image
    max-width: 100%
    max-height: 100%

.article__preview-container_video
    width: 100%
    height: 100%
    cursor: pointer

.article__content-container
    display: flex
    flex-direction: column
    height: calc(60% - 36px)
    padding: 18px

.article__content-container_section
    margin: 0
    color: #7daed4
    text-transform: uppercase
    font-weight: 700
    font-size: 14px

.article__content-container_title
    margin: 6px 0 0 0
    color: #305687
    font-size: 18px
    font-weight: normal

.article__content-container_description
    margin: 8px 0 0 0
    color: #6d6e71
    max-height: 90px
    overflow: hidden

.article__content-container_link-container
    margin-top: auto

.article__content-container_link
    position: relative
    color: #3e5c83
    text-transform: uppercase
    text-decoration: none
    font-weight: 700
    &:after
        content: ''
        position: absolute
        right: -20px 
        bottom: 0
        border: 8px solid transparent
        border-left: 8px solid #feb81e

.s-content__articles_button-container
    width: 100%
    display: flex
    justify-content: center

.s-content__articles_button
    width: 300px
    height: 35px
    margin: 10px auto
    color: #426690
    border: 2px solid #426690
    background-color: #fff

[v-cloak] 
    display: none

@media screen and (max-width: 980px)
    .container
        width: calc(100% - 20px)

@media screen and (max-width: 745px)
    .s-content__filtres_keyword
        flex-direction: column
    .s-content__filtres_keyword-input
        width: calc(100% - 48px)
        margin-bottom: 10px
    .s-content__filtres_categories
        flex-direction: column
    .s-content__filtres_categories-dropdown-container
        width: 100%
        flex-direction: column
    .s-content__filtres_categories-dropdown
        width: calc(100% - 10px)
        margin-bottom: 10px