<!doctype html>
<html class="no-js" lang="ru">
    <head>
        {{> head/head }}
    </head>
    <body class="page">
        {{> content/content }}

        {{> endFile/endFile }}
    </body>
</html>