<!doctype html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#000000">
        <title>Test task</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">



        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/mains27yy306tftpbr2c07ldi.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->

        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body class="page">
        <section class="s-content" id="contentApp">
            <div class="s-content__filtres">
                <div class="container">
                    <div class="s-content__filtres_keyword">
                        <p class="s-content__filtres_keyword-msg">Search the Academy by keyword:</p>
                        <input class="s-content__filtres_keyword-input" type="text" placeholder="Search" v-model="keywords" v-on:input="inputChange" />
                    </div>
                    <div class="s-content__filtres_categories">
                        <p>Filter content by:</p>

                        <div class="s-content__filtres_categories-dropdown-container" ref="dropdownClose">
                            <div class="s-content__filtres_categories-dropdown" :class="{ dropdown_opened: showDropdownSpeciality }">
                                <div v-cloak class="dropdown__title" v-on:click="switchDropdown" data-vue="speciality">
                                    ${selectedSpeciality}
                                </div>
                                <ul v-cloak class="dropdown__list" v-show="showDropdownSpeciality">
                                    <li class="dropdown__item" v-on:click="selectDropdownItem" data-vue="speciality" v-for="speciality in specialities">${speciality.title}</li>
                                </ul>
                            </div>

                            <div class="s-content__filtres_categories-dropdown" :class="{ dropdown_opened: showDropdownSection }">
                                <div v-cloak class="dropdown__title" v-on:click="switchDropdown" data-vue="section">
                                    ${selectedSection}
                                </div>
                                <ul v-cloak class="dropdown__list" v-show="showDropdownSection">
                                    <li class="dropdown__item" v-on:click="selectDropdownItem" data-vue="section" v-for="section in sections">${section.title}</li>
                                </ul>
                            </div>

                            <div class="s-content__filtres_categories-dropdown" :class="{ dropdown_opened: showDropdownAudience }">
                                <div v-cloak class="dropdown__title" v-on:click="switchDropdown" data-vue="audience">
                                    ${selectedAudience}
                                </div>
                                <ul v-cloak class="dropdown__list" v-show="showDropdownAudience">
                                    <li class="dropdown__item" v-on:click="selectDropdownItem" data-vue="audience" v-for="audience in audiences">${audience.title}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-cloak class="s-content__articles">
                <div class="s-content__articles_section" v-for="section in sections" v-if="section.title !='All section' && (selectedSection =='All section' || selectedSection == section.title)" v-show="!section.empty">
                    <h1 class="s-content__articles_section-title">${section.title}</h1>
                    <article-template v-for="item in allItems" v-bind:item="item" v-bind:key="item.id" v-bind:sections="sections" v-if="item.sectionId == section.id"></article-template>

                    <div class="s-content__articles_button-container">
                        <button class="s-content__articles_button" v-show="!section.showAll" v-on:click="expandList(section.id)" v-bind:sections="sections">View more</button>
                    </div>

                </div>
            </div>

        </section>
        <script src="https://unpkg.com/vue"></script>
        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="static/js/mains27yy306tftpbr2c07ldi.min.js"></script>
    </body>

</html>